:root {
    --window-panel-outer-padding: 5px;
    --color-health-outer: #8c2727;
    --color-health-inner: green;
    --color-armor-outer: #404040;
    --color-armor-inner: rgb(31, 137, 178);
    --color-button-on: #2d941e;
    --color-button-off: #6c2222;
    --color-button-on-hover: #38ad26;
    --color-button-off-hover: #8f2d2d;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #111;
	color: white;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	outline: none;
    height: 24px;
    line-height: 0;
    padding-top: 3px;
    margin-top: 5px;
    background-color: #b5b5b5;
    border: 1px solid #666;
    margin-bottom: 0px;
}
button:hover {
    cursor: pointer;
    background-color: #cccccc;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.icon-itemstats {
    background-image: url('./icons/item_stats.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 0 0;
    width: 16px;
    height: 16px;
}
.icon-itemstats-attack          { background-position: 0px; }
.icon-itemstats-attackInterval  { background-position: -16px; }
.icon-itemstats-health          { background-position: -32px; }
.icon-itemstats-armor           { background-position: -48px; }
.icon-itemstats-block           { background-position: -64px; }

.btn-state-on,
.btn-state-on:focus {
    background-color: var(--color-button-on);
    color: white;
}
.btn-state-on:hover,
.btn-state-on:not(:disabled):active {
    background-color: var(--color-button-on-hover);
}
.btn-state-off,
.btn-state-off:focus {
    background-color: var(--color-button-off);
    color: white;
}
.btn-state-off:hover,
.btn-state-off:not(:disabled):active {
    background-color: var(--color-button-off-hover);
}

.clickable-text {
    cursor: pointer;
}
.clickable-text:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}